<section class="flex justify-center items-center py-8">
  <div class="flex flex-col items-center justify-center px-4">
    <h1 class="text-4xl font-bold text-gray-700">
      Unidad Educativa Ricardo Muñoz Chávez
    </h1>
    <h2 class="text-xl font-bold text-blue-700 mt-10 mb-5">
      NOVEDADES RICARDINAS 👍🏻
    </h2>
    <p class="text-gray-600 text-lg mt-2">
      Hoy se realizó el minuto cívico sobre el Día Internacional de la
      Educación, en el cual se dió información muy importante sobre la misma y
      se realizó un concurso de conocimientos por grado y curso, quedando como
      Ganadores el Tercero de BGU B, quienes se llevaron como premio un Kit de
      libros para los estudiantes.
    </p>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
    >
      Ver más
    </button>
  </div>
  <div class="grid grid-cols-2 gap-3">
    <div class="relative overflow-hidden px-5">
      <img
        class="w-full h-full object-cover transition duration-500 ease-in-out transform hover:scale-110"
        src="https://scontent.fcue3-1.fna.fbcdn.net/v/t39.30808-6/421605662_394720169601025_5480737160877756799_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=d2ihe8cl900AX-VgxJT&_nc_ht=scontent.fcue3-1.fna&oh=00_AfDtHoTr4CHfhcpd3nUextt1Wfcopg7KB1qLoFSomxCygA&oe=65BD655C"
        alt="Image 1"
      />
    </div>
    <div class="relative overflow-hidden px-5">
      <img
        class="w-full h-full object-cover transition duration-500 ease-in-out transform hover:scale-110"
        src="https://scontent.fcue3-1.fna.fbcdn.net/v/t39.30808-6/421574753_394720876267621_7370822876435136070_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=ZDWmCNOZvwoAX_W6wjc&_nc_ht=scontent.fcue3-1.fna&oh=00_AfD-0DaB4GJOyGO4iL4VwI22WAxjpuSJIzR_1bVRkbyRXA&oe=65BD1FDA"
        alt="Image 2"
      />
    </div>
    <div class="relative overflow-hidden px-5">
      <img
        class="w-full h-full object-cover transition duration-500 ease-in-out transform hover:scale-110"
        src="https://scontent.fcue3-1.fna.fbcdn.net/v/t39.30808-6/421751941_394720279601014_903001644623562536_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=qNkJJ-Qq5RkAX8V89Mb&_nc_ht=scontent.fcue3-1.fna&oh=00_AfAp_Mob6JUyCjs95VGLE4OoIPurcsvvo34bdQqaNHjwnQ&oe=65BC686F"
        alt="Image 3"
      />
    </div>
    <div class="relative overflow-hidden px-5">
      <img
        class="w-full h-full object-cover transition duration-500 ease-in-out transform hover:scale-110"
        src="https://scontent.fcue3-1.fna.fbcdn.net/v/t39.30808-6/421458161_393774123028963_3761736223924750658_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=xpB0isAoVGgAX8y-Iwc&_nc_ht=scontent.fcue3-1.fna&oh=00_AfA3wi6nx7xi7TdOroQIlm3Rs5Ubgk_3yVt1yrb9xcSILQ&oe=65BDA673"
        alt="Image 4"
      />
    </div>
  </div>
</section>
